<a href="https://colab.research.google.com/github/younghooe/younghooe.github.io/blob/main/%EB%B0%B1%EC%A4%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello Word!')

Hello Word!

In [ ]:
A, B = input('숫자 두 개를 입력하세요: ').split()
A = int(A)
B = int(B)

print(A+B)

숫자 두 개를 입력하세요: 1 13
14

In [ ]:
A, B = map(int, input().split())
print(A+B)

4 14
18

In [ ]:
A, B = input('숫자 두 개를 입력하세요: ').split()

A = int(A)
B = int(B)

print(A-B)

숫자 두 개를 입력하세요: 14 3
11

In [ ]:
A , B = map(int, input().split())
print(A - B)

13 32
-19

In [ ]:
A, B = map(int, input().split())
print(A * B)

41 32
1312

In [ ]:
A, B = map(int, input().split())
print(A/B)

3 1
3.0

In [ ]:
A,B = map(int, input().split())
print(A+B, A-B, A*B, A//B, A%B ,sep='\n')

7 3
10
4
21
2
1

In [ ]:
id = input()
print(id+'??!')

joonas
joonas??!

In [ ]:
2541 - 1998

543

In [ ]:
bool = input()
bool = int(bool)
print(bool - 543)

2541
1998

In [ ]:
y = int(input())
print(y - 543)

2541
1998

In [ ]:
A,B,C = map(int, input().split())
print((A+B)%C, ((A%C) + (B%C))%C, (A*B)%C, ((A%C)*(B%C))%C, sep = '\n' )

5 8 4
1
1
0
0

In [ ]:
A = int(input())
B = int(input())
c = B%10
d = B%100 //10
e = B//100
print((A*c), (A*d), (A*e), (A*B), sep='\n')

472
385
2360
3776
1416
181720

In [ ]:
A,B,C = map(int, input().split())
print(A+B+C)

77 77 7777
7931

In [ ]:
print("\\    /\\")
print(" )  ( ')")
print('(  /  )')
print(' \\(__)|')
#오늘 배운점: 역슬래시를 출력할 때는 두개를 연속해서 써야한다.

\    /\
 )  ( ')
(  /  )
 \(__)|

In [ ]:
print("|\\_/|")
print("|q p|   /}")
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\\__|')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\\__|

In [ ]:
A, B = map(int, input().split())
if A > B:
  print('>')
elif A < B:
  print('<')
else:
  print('==')

5 5
==

In [ ]:
score = int(input())

if score >=90 and score <=100:
  print('A')
elif score >= 80 and score < 90:
  print('B')
elif score >= 70 and score < 80:
  print('C')
elif score >= 60 and score <70:
  print('D')
else:
  print('F')

65
D

In [ ]:
year = int(input())

if year%4==0 and year%100 != 0:
  print('1')
elif year%400 ==0:
  print('1')
else:
  print('0')

1999
0

In [ ]:
x = int(input())
y = int(input())

if x > 0 and y > 0:
  print('1')
elif x < 0 and y > 0:
  print('2')
elif x < 0 and y < 0:
  print('3')
else:
  print('4')

9
-13
4

In [ ]:
H, M = map(int, input().split())
if M >= 45:
  m = M-45
  print(H, m)
else:
  if H == 0:
    h = 23
    m = (M + 60)-45
  else:
    h = H -1
    m = (M + 60)-45
  print(h, m)

23 40
22 55

In [ ]:
H, M = map(int, input().split())
if M >= 45:
  print(H, M-45)
else:
  if H == 0:
    H = 23
    M += 60
    print(H,M-45)
  else:
    H -= 1
    M += 60
    print(H, M-45)

23 40
22 55

In [ ]:
A, B = map(int,input().split())
C = int(input())

cook_h = C//60
cook_m = C%60

if B + cook_m >= 60:
  h = A + cook_h + 1
  m = (B + cook_m)%60
  print(h,m)
else:
  h = A + cook_h
  m = B + cook_m
  print()

14 30
20
14 10

In [ ]:
A, B = map(int,input().split())
C = int(input())

cook_h = C//60
cook_m = C%60

if B + cook_m >= 60:
  h = A + cook_h + 1
  m = (B + cook_m)%60
  if h >=24:
    print(h-24,m)
  else:
    print(h, m)
else:
  h = A + cook_h
  m = B + cook_m
  if h >= 24:
    print(h-24,m)
  else:
    print(h,m)

23 48
25
0 13

In [ ]:
A,B,C = map(int, input().split())

if A == B == C:
  print(10000+A*1000)
elif A == B:
  print(1000 + A*100)
elif A == C:
  print(1000 + A*100)
elif B == C:
  print(1000 + B*100)
elif A != B != C:
  M = [A,B,C]
  print(max(M)*100)

6 2 5
600

In [ ]:
N = int(input())

print(f'{2} * 1 =',N*1)
print(f'{2} * 2 =',N*2)
print(f'{2} * 3 =',N*3)
print(f'{2} * 4 =',N*4)
print(f'{2} * 5 =',N*5)
print(f'{2} * 6 =',N*6)
print(f'{2} * 7 =',N*7)
print(f'{2} * 8 =',N*8)
print(f'{2} * 9 =',N*9)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
N = int(input())

for i in range(1,10):
  print(f'{N} * {i} =', N*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
T = int(input())
i = 0

while i < T:
  i += 1
  A,B = map(int,input().split())
  print(A+B)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [ ]:
T = int(input())

for i in range(1, T+1):
  A,B = map(int,input().split())
  print(A+B)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [ ]:
T = int(input())

# range 함수 특성상 앞의 0을 생략가능
for i in range(T):
  A,B = map(int,input().split())
  print(A+B)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [ ]:
n = int(input())

for i in range(1, n+1):
  i += i
print(i)

4
8

In [ ]:
n = int(input())

print((n+1)*n//2)

5
15

In [ ]:
n = int(input())
A = 0

for i in range(1, n+1):
  A += i
print(A)

In [ ]:
X = int(input())
N = int(input())
cost = 0

for i in range(N):
  a ,b = map(int,input().split())
  cost += a*b

if X == cost:
  print('Yes')
else:
  print('No')

250000
4
20000 5
30000 2
10000 6
5000 8
No

In [ ]:
print('f' * 4)

ffff

In [ ]:
N = int(input())

print((N//4)*'long '+'int')

20
long long long long long int

In [ ]:
import sys

T= int(sys.stdin.readline())
for i in range(1,T+1):
  A,B = map(int, sys.stdin.readline().split())
  print(A+B)

In [ ]:
import sys

T = int(sys.stdin.readline())

for i in range(1,T+1):
  A,B = map(int,sys.stdin.readline().split())
  print(f'Case #{i}:',A+B)

In [ ]:
import sys

T = int(sys.stdin.readline())

for i in range(1,T+1):
  A,B = map(int,sys.stdin.readline().split())
  C= A+B
  print(f'Case #{i}: {A} + {B} = {C}')

In [ ]:
import sys

N = int(sys.stdin.readline())

for i in range(1, N+1):
  print('*'*i)

In [ ]:
N = int(input())

for i in range(1, N+1):
  print('*'*i)

5
*
**
***
****
*****

In [ ]:
N = int(input())
for i in range(1, N+1):
  print(('*'*i).rjust(N))

5
    *
   **
  ***
 ****
*****

In [ ]:
while True :
  A,B = map(int,input().split())
  if A !=0 and B !=0:
    print(A+B)
  else:
    break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

In [ ]:
while True:
  try:
    A,B = map(int, input().split())
    print(A+B)
  except EOFError:
    break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

ValueError: not enough values to unpack (expected 2, got 0)

In [ ]:
while True:
  try:
    A,B = map(int, input().split())
  except ValueError:
    break
  print(A+B)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

ValueError: not enough values to unpack (expected 2, got 0)

map이 반복문의 역할을 하는 것 같아 map에 대해서 자세히 알아봄

결론: 맞음
map이 반복문보다 코드가 더 간결하고, 메모리 사용등을 아껴 효율적임.
속도도 빠름 C로 구현되어 있어서

✅ map 함수 동작 원리
map() 함수의 동작 원리는 다음과 같습니다.

map() 함수가 호출되면, 입력으로 전달된 function 함수와 iterable 객체들을 파라미터로 받습니다.
map() 함수는 가장 짧은 길이를 가진 iterable 객체의 길이만큼 function 함수를 반복적으로 적용합니다.
function 함수는 각 iterable 객체에서 해당하는 인덱스의 요소들을 인자로 받아 처리합니다.
function 함수의 실행 결과는 새로운 이터레이터 객체에 저장됩니다.
map() 함수가 반환하는 값은 iterator 객체입니다.
즉, map() 함수는 입력된 iterable 객체들의 각 요소를 하나씩 가져와 function 함수에 적용하고, 그 결과를 새로운 iterator 반환합니다. map() 함수는 generator 객체를 반환하며, iterator와 비슷한 역할을 합니다.

 ✅ map 함수의 특징
map 함수의 특징을 몇 가지 정리해보았습니다.



지연평가(lazy evaluation) 방식: map() 함수는 lazy evaluation 방식을 사용합니다. lazy evaluation이란 필요한 시점까지 연산을 늦추는 방식으로, 불필요한 연산을 최소화하여 성능을 향상시키는 방법입니다. 입력으로 받은 iterable 객체를 순회하면서 각 요소에 대해 함수를 적용하여 새로운 iterable 객체를 생성하지만, 이 과정에서 실제로 변환된 결과값들이 생성되는 것이 아니라, 필요할 때까지 기다리는 것입니다. 이런 방식으로 인해 변환된 결과값이 모두 메모리에 저장되지 않고 부분만 계산하여 처리할 수 있기에 불필요한 메모리 사용을 줄일 수 있습니다.
간결성: map() 함수를 이용하면 반복문을 작성하지 않아도, 한 줄의 코드로 여러 개의 리스트를 동시에 처리할 수 있습니다.
가독성: map() 함수를 이용하면, 코드의 가독성을 높일 수 있습니다.
성능: map() 함수는 내부적으로 C로 구현되어 있으므로, 파이썬 반복문보다 빠르게 처리할 수 있습니다.
메모리 사용량: map() 함수는 새로운 리스트를 생성하지 않고, iterator 객체를 반환하므로, 메모리 사용량을 최소화할 수 있습니다. 하지만, 매우 큰 이터레이터 객체를 처리할 경우, 메모리 사용량이 매우 높아질 수 있습니다.
제약사항: map() 함수는 입력된 모든 이터레이터 객체의 길이가 같아야 하므로, 이러한 제약 사항을 고려하여 사용해야 합니다.

 설명이 매우 잘되있음

In [ ]:
N = int(input())
j = list(map(int, input().split()))
v = int(input())

print(j.count(v))

11
1 4 1 2 4 2 4 2 3 4 4
5
0

In [ ]:
# 백준 10807
N = int(input())
j = list(map(int, input().split()))
V = int(input())

print(j.count(V))

11
1 4 1 2 4 2 4 2 3 4 4
2
3

In [ ]:
# 백준 10807
# 내가 봤을 때 백준이 원한 답은 이게 아니었을까

N = int(input())
j = list(map(int, input().split()))
V = int(input())
answer = 0

for i in range(N) :
  if j[i] == V :
    answer += 1

print(answer)

11
1 4 1 2 4 2 4 2 3 4 4
2
3

In [ ]:
N, X = map(int, input().split())
A = list(map(int, input().split()))
answer = []

for i in range(N):
  if i < X:
    answer.append(i)

print(answer)

10 5
1 10 4 9 2 3 8 5 7 6
[1, 4, 2, 3]

In [ ]:
N, X = map(int, input().split())
A = list(map(int, input().split()))
answer = []

for i in range(N):
  if A[i] < X:
    answer.append(A[i])

print(answer)

10 5
1 10 4 9 2 3 8 5 7 6
[1, 4, 2, 3]

In [ ]:
N, X = map(int, input().split())
A = list(map(int,input().split()))

for i in range(N):
  if A[i] < X :
    print(A[i], end =" ")

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
# 이것도 두가지 방법 가능할 듯
#백준 10818번

In [ ]:
# 첫번째

N = int(input())
j = list(map(int, input().split()))
print(min(j),max(j))

5
20 10 35 30 7
7 35

In [ ]:
# 두번째

N = int(input())
j = list(map(int, input().split()))
K = []

for i in range(N) :
  K.append(j[i])

print(min(K),max(K))

5
20 10 35 30 7
7 35

In [ ]:
for i in range(1,10):
  A = int(input())

1
1
2
3
4
5
6
7
8
9

In [ ]:
A = []

for i in range(1,10):
  A.append(int(input()))

print(max(A))
print(A.index(max(A))+1)

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
#나는 for문으로 코드를 짯지만, list comprehension이라는 방법도 있다.

numbers = [int(input()) for _ in range(9)]

print(max(numbers))
print(numbers.index(max(numbers))+1)

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
N, M = map(int, input().split())
a = [0 for i in range(N)]

for _ in range(M):
  i, j, k = map(int, input().split())
  a[i:j] = [k]

print(a)

5 4
1 2 3
3 4 4
1 4 1
2 2 2
[0, 1, 2, 0]

In [ ]:
a = [0 for i in range(4)]
a

[0, 0, 0, 0]

In [ ]:
N, M = map(int, input().split())
a = [0 for i in range(N)]

for _ in range(M):
  i, j, k = map(int, input().split())
  a[i-1:j] = [k for _ in range(i-1, j)]


#출력방법
for i in a :
  print(i , end=' ')

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

In [ ]:
N = 5
a = [0 for i in range(N)]
print(a)
a[1:3] = 4,
a

[0, 0, 0, 0, 0]

[0, 4, 0, 0]

In [ ]:
N, M = map(int, input().split())
a = [0 for i in range(N)]

for _ in range(M):
  i, j, k = map(int, input().split())
  a[i-1:j] = [k for _ in range(i-1, j)]


#출력방법
print(*a, sep=' ')

'''
파이썬은 *args와 **kwargs를 사용할 수 있는데

*과 **로 이를 구별한다.

args의 경우는 받아온 것의 값을 나타내며 **kwars는 key와 value로 이루어져 있는 점만 알면 된다.
'''

5 4
1 2 3
3 4 4
1 4 1
2 2 2
12110

In [ ]:
N, M = map(int, input().split())

basket = [i+1 for i in range(N)]
for i in range (M) :
  i, j= list(map(int, input().split()))
  basket[i-1], basket[j-1] = basket[j-1], basket[i-1]

print(*basket, sep=' ')

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

In [ ]:
join = {i for i in range(1,31)}

for _ in range(28) :
  put = {int(input())}
  join = join - put

join = sorted(join)
print(*join, sep='\n')

In [ ]:
#5597 훨씬 좋은 방법
join = [i for i in range(1,31)]

for _ in range(28) :
  put = int(input())
  join.remove(put)

print(*join, sep="\n")

In [ ]:
nam = set()
for _ in range(10) :
  A = int(input())
  nam.add(A%42)

nam = set(nam)
print(len(nam))

#다른 사람이 푼것도 확인해보기

In [ ]:
#3052번
#나는 세트로 처음부터 만들었는데, 리스트에서 마지막에만 세트로 바꾸는 방법
nam = []
for _ in range(10) :
  a = int(input())
  nam.append(a%42)

print(len(set(nam)))

In [ ]:
nam = []
for _ in range(10):
  a = int(input())
  if a%42 not in nam:
    nam.append(a%42)

print(len(nam))

In [ ]:
a = [1,2,3,4]
a[:] =reversed(a[1:])
print(a)

[3, 2]

In [ ]:
a = [1, 2, 3, 4]
a[1:3] = reversed(a[1:3])
print(a)

[1, 3, 2, 4]

In [ ]:
a = [1, 2, 3, 4]
a[1:3].reverse()
a

[1, 2, 3, 4]

In [ ]:
N, M = map(int, input().split())
basket = [i for i in range(1, N+1)]

for _ in range(M) :
  i, j = map(int, input().split())
  basket = basket[:i-1] + list(reversed(basket[i-1:j])) + basket[j:]

print(*basket, sep=' ')

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

In [ ]:
N, M = map(int, input().split())
basket = [i for i in range(1, N+1)]

for _ in range(M) :
  i, j = map(int, input().split())
  basket[i-1:j] = list(reversed(basket[i-1:j]))

print(*basket, sep=' ')

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

In [ ]:
N, M = map(int, input().split())
basket = [i for i in range(1, N+1)]

for _ in range(M):
    i, j = map(int, input().split())
    basket[i-1:j] = basket[i-1:j][::-1]

print(*basket, sep=' ')

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

In [ ]:
N = int(input())
score = list(map(int,input().split()))
h_score = max(score)
re_score = []
for i in range(N) :
  re_score.append((score[i]/h_score)*100)

print(sum(re_score)/N)

3
40 80 60
75.0

In [ ]:
S = input()
i = int(input())

print(S[i-1])

Baekjoon
4
k

In [ ]:
word = input()
print(len(word))

pulljima
8

In [ ]:
N = int(input())

for _ in range(N) :
  word = input()
  print(word[0]+word[-1])

3
ACDKJFOWIEGHE
AE
O
OO
AB
AB

In [ ]:
print(ord(input()))

A
65

In [ ]:
'''
try :
  a = input()
  print(ord(a))
except :
  print(chr(int(a)))
뭐한거지 이건?? 백준 11654번'''

In [ ]:
#정수를 문자열로 입력받는 문제. Python처럼 정수 크기에 제한이 없다면 상관 없으나, 예제 3은 일반적인 정수 자료형에 담기에 너무 크다는 점에 주목합시다.

N = int(input())
a = input()
s = 0
for i in range(N) :
  s += int(a[i-1])

print(s)

11
10987654321
46

In [ ]:
#한 단어에서 각 알파벳이 처음 등장하는 위치를 찾는 문제

S = input()
alphabets = "abcdefghijklmnopqrstuvwxyz"

for i in alphabets :
  print(S.find(i))

In [ ]:
S = input()
alpha = range(97,123)

for i in alpha:
    print(S.find(chr(i)))

In [ ]:
#다른 사람 풀이

s = input()
a = 'abcdefghijklmnopqrstuvwxyz'
l = [-1]*26

for i in range(len(s)):
    if l[a.index(s[i])] == -1:
        l[a.index(s[i])] = i

for i in range(len(l)):
    print(l[i], end=" ")

In [ ]:
s = input()
a = 'abcdefghijklmnopqrstuvwxyz'
l = [-1]*26

for i in s:
    l[a.index(i)]=s.index(i)

for i in l:
    print(i, end=' ')

#s.index(i)이거는 같은 스펠링을 찾더라도 항상 문자열에서 가장 먼저 오는 인덱스를 가져옴

2

In [ ]:
s = input()
a = [-1]*26

for i in s:
    a[ord(i)-97] = s.index(i)
for i in a:
    print(i, end=" ")

# 'a'의 아스키 넘버는 97임

In [ ]:
#각 문자를 반복하여 출력하는 문제
T = int(input())

for _ in range(T) :
  R, S = map(str, input().split())
  for i in range(len(S)):
    print((S[i]*int(R)), end="")
  print()

In [ ]:
#각 문자를 반복하여 출력하는 문제

T = int(input())

for _ in range(T) :
  R, S = map(str, input().split())
  for i in range(len(S)):
    print((S[i]*int(R)), end="")

3
2 ad
aadd4 avc
aaaavvvvcccc4 asd
aaaassssdddd

In [ ]:
#백준 2675 다른 풀이
case = int(input())
value = []

for i in range(case):
    value.append(input().split())


for x, y in value:
    for z in range(len(y)):
        print(y[z]*int(x), end='')
    print()

2
3 ABC
5 /HTP

[['3', 'ABC'], ['5', '/HTP']]

In [ ]:
a = int(input())
for i in range(a):
  b, c = input().split()
  for i in range(len(c)):
    print(int(b) * c[i], end="")

2
1 a
a
2 ab
aa
bb

In [ ]:
#각 문자를 반복하여 출력하는 문제
T = int(input())

for _ in range(T) :
  R, S = map(str, input().split())
  for i in range(len(S)):
    print((S[i]*int(R)))

2
3 abc
aaa
bbb
ccc
2 ab
aa
bb

In [ ]:
#단어의 개수를 구하는 문제

S = input()
print(len(S.split()))

'''
일반적으로 .은 다음과 같은 역할을 합니다:

객체의 속성에 접근: 객체가 가지고 있는 변수나 함수 등에 접근할 때 사용됩니다.
객체의 메서드 호출: 객체가 가지고 있는 함수를 호출할 때 사용됩니다.'''

The last character is a blank
6

In [ ]:
#알고리즘: 수학
#숫자를 뒤집어서 비교하는 문제

#A,B = int(input().split())  => input의 값이 1개면 하나의 문자열로 받는데, 2개 이상이면 리스트로 반환함.

A,B = map(int, input().split())
a = ((A%10)*100) + (((A%100)//10)*10) + (A//100)
b = ((B%10)*100) + (((B%100)//10)*10) + (B//100)
if a > b :
  print(a)
else:
  print(b)

839 237
938

In [ ]:
#알고리즘 구현
#숫자를 뒤집어서 비교하는 문제

A,B = input().split()

a = int(A[::-1])
b = int(B[::-1])

if a > b :
  print(a)
else:
  print(b)

839 237
938

In [ ]:
'''
문자열 거꾸로 출력하기

1. for문

s = 'abcde'
s_reverse = ''  # 기존 문자열을 역순으로 담아줄 빈 문자열 선언
for char in s:
    s_reverse = char + s_reverse

print(s_reverse)  # edcba

2. reverse함수 사용
s = 'abcde'
s_list = list(s)  # reverse 함수를 사용하기 위해 문자열을 list로 치환
s_list.reverse()  # reverse 함수를 사용해 문자열 리스트를 거꾸로 뒤집음

print(''.join(s_list))  # 거꾸로 뒤집어진 리스트를 연결해서 출력

2-2. reversed 활용
s = 'abcde'
print(''.join(reversed(s)))  # 'edcba'

!!! reversed는 reverse와는 달리 문자열에도 바로 적용이 가능하므로,(reverse는 list에만 사용 가능)

3. [::-1]
s = 'abcde'
print(s[::-1])  # 'edcba'

=> 문자열 리스트, 튜플에도 적용 가능
'''

3

In [ ]:
#규칙에 따라 문자에 대응하는 수를 출력하는 문제

S = input()
sum = 0

dir = {"A" : 2, "B" : 2, "C" : 2, "D" : 3, "E" : 3, "F" : 3, "G" : 4, "H" : 4, "I" : 4, "J" : 5, "K" : 5, "L" : 5, "M" : 6, "N" : 6, "O" : 6, "P" : 7, "Q" : 7, "R" : 7, "S" : 7, "T" : 8, "U" : 8, "V" : 8, "W" : 9, "X" : 9, "Y" : 9, "Z" : 9}

for i in S :
  sum += dir[i]+1

print(sum)

UNUCIC
36

In [ ]:
# 딕셔너리로 풀 때 더 나은 방법
# 시간이 오래걸려서 비추
# 해보니 나는 시간이 동일함

dir = {"ABC" : 2, 'DEF' : 3, "GHI" : 4, "JKL" : 5, "MNO" : 6,
       "PQRS" : 7, "TUV" : 8, "WXYZ" : 9}#쉼표 구분 줄바꿈 가능;

S = input()
sum = 0

for s in S :
  for k,v in dir.items():
    if s in k:
      sum += v+1

print(sum)

WA
13

In [ ]:
#다른 풀이

dial = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
sum = 0
S = input()
for j in range(len(S)) :
  for i in dial :
    if S[j] in i:
      sum += dial.index(i) + 3

print(sum)

WA
13

In [ ]:
#그대로 출력하기
'''
나의 풀이
① 이 문제에서 직관적으로 파악한 것은 '입력값이 몇 번 주어지는지는 모르지만 입력된 값 그대로 출력해야한다는거구나'이다.

② 아이디어 열기

 입력값이 몇 번 주어지는지는 모르겠는데... 입력값이 그대로 출력해야한다라..

 try,except 구문을 통해 입력값이 계속 들어오면 그대로 프린트해주고, 입력값이 안들어온다면 즉 EOF(End Of File)상태라면 break를 걸어주도록 하자.

 이를 실제 코드에 구현해보면 다음과 같다.
 while True:
    try:
        print(input())
    except EOFError:
        break

      #EOF는 end of file !!!!
 '''
while True:
  try :
    print(input())
  except :
    break

#https://juni-tech.tistory.com/10 stdin.readline()

Hello
Hello
Baekjoon
Baekjoon
Online Judge
Online Judge
1
1
`
`
finsh
finsh

In [ ]:
print("         ,r'"'"7')
print("r`-_   ,'  ,/")
print(' \. "'". L_r'")
print("   `~\/")
print("      |")
print("      |")

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

In [ ]:
chess = [1,1,2,2,2,8]
W_C = list(map(int, input().split()))
answer = []

for i in range(len(chess)) :
  answer.append(chess[i] - W_C[i])

print(*answer, end=" ")

2 1 2 1 2 1
-1 0 0 1 0 7

In [ ]:
#다른 사람들은 좀 더 간단하게 풀이했네
chess = [1, 1, 2, 2, 2, 8]

a = list(map(int, input().split()))

for i in range(6):
    print(chess[i] - a[i], end=' ')

2 1 2 1 2 1
-1 0 0 1 0 7

In [ ]:
N = int(input())
n = 2*N-1
a = 1

for i in range(n+1) :
  if i < N :
    print(("*"*a).center(n))
    a = a+2
  elif i == N :
    a = a-2
  else :
    a = a-2
    print(("*"*a).center(n))

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
N = int(input())
n = 2*N-1

for i in range(1,N):
  print(" "*(N-i) + "*"*(2*i-1))
for i in range(N,0,-1):
  print(" "*(N-i) + "*"*(2*i-1))

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
#리스트로 비교하기

s = list(input())
s_r = list(reversed(s))

if s == s_r :
  print(1)
else:
  print(0)

baekjoon
0

In [ ]:
# 반복문으로 비교하기

s = input()
a = ''
for i in s:
  a = i + a

if s == a:
  print(1)
else:
  print(0)

baekjoon
0

In [ ]:
# 슬라이싱으로 비교하기

s = input()

if s == s[::-1]:
  print(1)
else:
  print(0)

baekjoon
0

In [ ]:
#주어진 단어에서 가장 많이 사용된 알파벳을 출력하는 문제

word = input().upper()
word_new = list(set(word))
cnt = []

for i in word_new :
  cnt.append(word.count(i))

if cnt.count(max(cnt)) > 1 :
  print("?")
else:
  print(word_new[cnt.index(max(cnt))])

#주어진 단어에서 가장 많이 사용된 알파벳을 출력하는 문제  word = input().upper() word_new = list(set(word)) cnt = []  for i in word_new :   cnt.append(word.count(i))  if cnt.count(max(cnt)) >= 2 :   print("?") else:   print(word_new[cnt.index(max(cnt))])

In [ ]:
#두세 문자가 한 글자로 묶일 수 있을 때 글자의 수를 세는 문제

cr_alph = ["c=","c-","dz=","d-","lj","nj","s=","z="]
S = input()

for i in cr_alph :
  S = S.replace(i,"*")

print(len(S))

nljj
3

In [ ]:
#조건에 맞는 문자열을 찾는 문제

N = int(input())
cnt = N

for _ in range(N) :
  word = input()
  for i in range(0,len(word)-1) :
    if word[i] == word[i+1] :
      pass
    elif word[i] in word[i+1:] :
      cnt -= 1
      break

print(cnt)

9
aaa
aaazbz
babb
aazz
azbz
aabbaa
abacc
aba
zzaz
2

In [ ]:
#열심히 문제를 푸시는 여러분은 A+입니다.

hak = {"A+" : 4.5, "A0" : 4.0, "B+" : 3.5, "B0" : 3.0, "C+" : 2.5, "C0" : 2.0, "D+" : 1.5, "D0" : 1.0, "F" : 0.0}
sum = 0
hak_s = 0

for _ in range(20) :
  a,b,c = map(str, input().split())
  if c == "P":
    pass
  else:
    sum += float(b)*hak[c]
    hak_s += float(b)


print(sum/hak_s)

BruteForce 3.0 F
Greedy 1.0 F
DivideandConquer 2.0 F
DynamicProgramming 3.0 F
DepthFirstSearch 4.0 F
BreadthFirstSearch 3.0 F
ShortestPath 4.0 F
DisjointSet 2.0 F
MinimumSpanningTree 2.0 F
TopologicalSorting 1.0 F
LeastCommonAncestor 2.0 F
SegmentTree 4.0 F
EulerTourTechnique 3.0 F
StronglyConnectedComponent 2.0 F
BipartiteMatching 2.0 F
MaximumFlowProblem 3.0 F
SuffixArray 1.0 F
HeavyLightDecomposition 4.0 F
CentroidDecomposition 3.0 F
SplayTree 1.0 F
0.0

In [ ]:
# 다른 사람 풀이

rating = ['A+', 'A0', 'B+', 'B0', 'C+', 'C0', 'D+', 'D0', 'F']
grade = [4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0]

total = 0	# 학점 총합을 담을 변수
result = 0	# (학점 * 과목평점) 총합을 담을 변수
for _ in range(20) :
    s, p, g = input().split()
    p = float(p)
    if g != 'P' :	# 등급이 P인 과목은 계산 안함
        total += p
        result += p * grade[rating.index(g)]

print('%.6f' % (result / total))

In [ ]:
#행렬을 2차원 배열로 만들어 더하는 문제
A,B = [],[]
N, M = map(int, input().split())

for _ in range(N) :
  a = list(map(int, input().split()))
  A.append(a)

for _ in range(N) :
  b = list(map(int, input().split()))
  B.append(b)

for row in range(N):
  for col in range(M):
    print(A[row][col] + B[row][col], end=' ')
  print()

In [ ]:
#최댓값을 2차원에서 찾는 문제

table = [list(map(int, input().split())) for _ in range(9)]

num_max = 0
row_num, col_num = 0, 0

for row in range(9) :
  for col in range(9) :
    if num_max <= table[row][col] :
      num_max = table[row][col]
      row_num = row + 1
      col_num = col + 1

print(num_max)
print(row_num, col_num)

3 23 85 34 17 74 25 52 65
10 7 39 42 88 52 14 72 63
87 42 18 78 53 45 18 84 53
34 28 64 85 12 16 75 36 55
21 77 45 35 28 75 90 76 1
25 87 65 15 28 11 37 28 74
65 27 75 41 7 89 78 64 39
47 47 70 45 23 65 3 41 44
87 13 82 38 31 12 29 29 80
90
5 7

In [ ]:
table[0][1]
table[1][1]

7

In [ ]:
# 문자열의 배열을 다루는 문제

length = []
words = []
answer =''

for _ in range(5) :
  word = input()
  length.append(len(word))
  words.append(word)

for col in range(max(length)) :
  for row in range(5) :
    if col < len(words[row]):
      answer += words[row][col]

print(answer)

ABCDE
abcde
01234
FGHIJ
fghij
Aa0FfBb1GgCc2HhDd3IiEe4Jj

In [ ]:
# 2차원 배열을 활용하여 색종이로 평면을 덮는 문제
# 몬테칼로 적분법

ary = [[0]*100 for _ in range(100)]
result = 0

N = int(input())

for _ in range(N) :
  a,b = map(int, input().split())
  for i in range(a,a+10):
    for j in range(b,b+10) :
      ary[i][j] = 1

for i in ary:
  result += i.count(1)

print(result)

3
3 7
15 7
5 2
260

In [ ]:
# 2차원 배열을 활용하여 색종이로 평면을 덮는 문제
# 몬테칼로 적분법

ary = [[0]*100 for _ in range(100)]
result = 0

N = int(input())

for _ in range(N) :
  a,b = map(int, input().split())
  for i in range(a,a+10):
    for j in range(b,b+10) :
      ary[i][j] = 1

for i in range(100):
  result += ary[i].count(1)

print(result)

3
3 7
15 7
5 2
260

In [ ]:
#진법에 대해 배우는 문제

num_list = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
sum = 0

N, B = input().split()
for i , num in enumerate(N[::-1]) :
  sum += (int(B)**i)*num_list.index(num)

print(sum)

ZZZZZ 36
60466175

In [ ]:
#반대 방향으로 진법을 변환하는 문제
# // 몫
# % 나머지

num_list = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
b = []
N,B = map(int, input().split())
a = N

while a != 0 :
  a = N // B
  b.append(N % B)
  N = a

for i in b[::-1] :
  print(num_list[i], end='')

60466175 36
ZZZZZ

In [ ]:
#다른 답안
N,B = map(int, input().split())

num_list = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
s =''

while N: #while문은 0이 아니면 참임
  s += num_list[N%B]
  N = N//B

print(s[::-1])

60466175 36
ZZZZZ

In [ ]:
#반대 방향으로 진법을 변환하는 문제
# // 몫
# % 나머지
# 내 원래 답에서 이렇게 수정하는게 더 좋은 코드인듯

num_list = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
b = ''
N,B = map(int, input().split())

while N != 0 :
  b += num_list[N % B]
  N = N//B

print(b[::-1])

60466175 36
ZZZZZ

In [ ]:
#반대 방향으로 진법을 변환하는 문제
# // 몫
# % 나머지
#이렇게하니 시간이 더 오래걸림;

num_list = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
b = ''
N,B = map(int, input().split())

while N: #N이 0이 아닌 한 True임
  b += num_list[N % B]
  N = N//B

print(b[::-1])

In [ ]:
# 그리디 알고리즘
T = int(input())

for _ in range(T) :
  cent = int(input())
  for i in [25,10,5,1] :
    print(cent//i, end=' ')
    cent = cent%i
  print()

3
124
4 2 0 4
25
1 0 0 0
194
7 1 1 4

In [ ]:
# 그리디 알고리즘
T = int(input())

for _ in range(T) :
  cent = int(input())
  for i in [25,10,5,1] :
    print(cent//i, end=' ')
    cent = cent%i

3
124
4 2 0 4 25
1 0 0 0 194
7 1 1 4

In [ ]:
# 중앙 이동 알고리즘
# 둘씩 반복해서 나눴을 때 점의 개수를 세는 문제
# 한 변에 놓일 점의 개수를 구한 뒤 제곱하면 된다.

N = int(input())
print((1+(2**N))**2)

1
9

In [ ]:
# 벌집
# 벌집이 형성되는 규칙에 따라 벌집의 위치를 구하는 문제

N = int(input())
box = 1
cnt = 1

while N > box :
  box += cnt*6
  cnt += 1
print(cnt)

In [ ]:
# 분수찾기
# 분수의 순서에서 규칙을 찾는 문제

X = int(input())
line = 1

while X > line :
  X -= line
  line += 1

if line % 2 == 0:
  #분자는 a, 분모는 b
  a = X
  b = line - (X-1)
else:
  a = line - (X-1)
  b = X

print(f"{a}/{b}")

3
2/1

In [ ]:
# 달팽이는 올라가고 싶다.
# 달팽이의 움직임을 계산하는 문제
# 시간 제한이 0.25초 이므로 반복문을 사용하면 안된다는 소리

A,B,V = map(int, input().split())

if (V-B)%(A-B) == 0:
  x = (V-B)/(A-B)
else:
  x = (V-B)//(A-B)+1

print(int(x))

2 1 5
4

In [ ]:
# ceil함수는 실수를 입력하면 올림 하여 정수를 반환하는 함수
# 정수는 그대로 반환하고 소수점이 존재하면 반올림

import math
A,B,V = map(int, input().split())

day = math.ceil((V-B)/(A-B))
print(day)

2 1 5
4

# 9단계 약수,배수와 소수
약수와 배수는 정수론의 시작점이라고 할 수 있습니다.

In [ ]:
#배수와 약수
# '배수와 약수를 배우는 문제'

'배수와 약수를 배우는 문제'

In [ ]:
while True:
  A,B = map(int,input().split())
  if A != B:
    if B%A ==0:
      print("factor")
    elif A%B == 0:
      print("multiple")
    else:
      print("neither")
  else:
    break

8 16
factor
32 4
multiple
17 5
neither
0 0

In [ ]:
#약수 구하기
# 주어진 수의 약수를 구하는 문제

In [ ]:
N,K = map(int,input().split())

answer = []
for i in range(1,N+1):
  if N % i == 0 :
    answer.append(i)

if len(answer) >= K :
  print(answer[K-1])
else:
  print(0)

2735 1
1

In [ ]:
#다른 풀이
# N//2+1는 N의 약수는 N//2만 확인해도 충분하기 때문에 : 모든 약수는 N/2이하에 있다. 예시로 12의 절반인 6보다 큰 약수는 자기 자신 뿐
N, K = map(int, input().split())

count = 0
for i in range(1, N//2 + 1):
  if N % i == 0:
    count += 1
    if count == K:
      print(i)
      break

if count + 1 == K:
  print(N)
elif count != K:
  print(0)

6 3
3

In [ ]:
# 약수들의 합
 # 약수를 구하면서 주어진 수가 완전수인지 판별하는 문제

while 1:
  n = int(input())
  cost = []
  if n != -1:
    for i in range(1, n//2+1):
      if n % i == 0:
        cost.append(i)
    if sum(cost) == n:
      print(f"{n} =",' + '.join(map(str,cost)))
    else:
      print(f"{n} is NOT perfect.")
  else:
    break

6
6 = 1 + 2 + 3
12
12 is NOT perfect.
28
28 = 1 + 2 + 4 + 7 + 14
-1

In [ ]:
# 소수 찾기
 # 2부터 x-1까지 모두 나눠서 x가 소수인지 판별하는 문제 1

N = int(input())
nums = list(map(int,input().split()))
result = 0

for num in nums:
  if num > 1:
    cnt = 0
    for i in range(2,num):
      if num%i==0:
        cnt += 1
    if cnt ==0:
      result += 1

print(result)

4
1 3 5 7
3

In [ ]:
import math

def is_prime(a):    #소수 구하는 함수
    if a == 1:
        return 0
    for i in range(2, int(math.sqrt(a)) + 1):   #2부터 그 숫자의 제곱근까지 검사
        if a % i == 0:
            return 0
    return 1

M, N = map(int, input().split())    #문제 입력

for i in range(M, N+1): #M 부터 N까지 소수인지 검사
    if is_prime(i):
        print(i)

In [ ]:
#이런 방법도 있
#약수의 대칭성
'''어떤 수 n의 약수는 대칭적으로 나타난다. 즉, n의 약수 쌍을 곱했을 때 n이 되는
두 수로 구성되며, 이 쌍 중 하나는 항상 루트n이하여야 한다.'''

import math

N = int(input())
nums = list(map(int, input().split()))
result = 0

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(math.sqrt(num)) + 1):
        if num % i == 0:
            return False
    return True

for num in nums:
    if is_prime(num):
        result += 1

print(result)

4
1 3 5 7
3

In [ ]:
# 소수
 # 2부터 x-1까지 모두 나눠서 x가 소수인지 판별하는 문제 2

M = int(input())
N = int(input())
result = []

for a in range(M,N+1) :
  cnt = 0
  if a > 1 :
    for i in range(2,a):
      if a%i == 0:
        cnt += 1
    if cnt == 0:
      result.append(a)

if len(result) > 0 :
  print(sum(result))
  print(min(result))
else:
  print(-1)

64
65
-1

In [ ]:
# 소인수 분해
# N을 소인수분해하는 문제

N = int(input())
result = []
if N == 0:
  break
else:
  for i in range(2,N):
    if N%i == 0 :
      result.append(i)
      N = N%i

In [ ]:
N = int(input())

if N == 1:
  print('')
else:
  for i in range(2,N+1):
      while N % i == 0:
        print(i)
        N = N // i

9991
97
103

In [ ]:
#기하: 직사각형과 삼각형
 # 직사각형
   # 직사각형의 넓이를 구하는 문제

A = int(input())
B = int(input())

print(A*B)

4
4
16

In [ ]:
# 직사각형에서 탈출
 # 직사각형과 점의 거리를 구하는 문제

x,y,w,h = map(int, input().split())

result = []

result.append(w-x)
result.append(h-y)
result.append(x)
result.append(y)


print(min(result))

161 181 762 375
161

In [ ]:
x,y,w,h = map(int, input().split())
print(min(x,y,w-x,h-y))

6 2 10 3
1

In [ ]:
# 네 번째 점
 # 직사각형을 완성하는 문제

x_nums = []
y_nums = []

for _ in range(3) :
  x,y = map(int, input().split())
  x_nums.append(x)
  y_nums.append(y)

for i in range(3) :
  if x_nums.count(x_nums[i]) == 1:
    x_nums.append(x_nums[i])
  if y_nums.count(y_nums[i]) == 1:
    y_nums.append(y_nums[i])

print(x_nums[3], y_nums[3])

30 20
10 10
10 20
30 10

In [ ]:
# 수학은 체육과목입니다.
 # 피라미드 모양 도형의 둘레를 구하는 문제

x = int(input())

print(x*4)

In [ ]:
# 대지
 # 옥구슬을 모두 포함하는 직사각형을 찾는 문제

N = int(input())
x_nums = []
y_nums = []

for _ in range(N) :
  x,y = map(int, input().split())
  x_nums.append(x)
  y_nums.append(y)

x_length = max(x_nums) - min(x_nums)
y_length = max(y_nums) - min(y_nums)
print(x_length * y_length)

4
2 1
3 2
5 2
3 4
9

In [ ]:
# 삼각형 외우기
# 각도를 보고 삼각형을 판별하고 분류하는 문제

angle = []

for _ in range(3) :
  angle.append(int(input()))

if angle.count(60) == 3:
  print('Equilateral')
elif sum(angle) == 180:
    if angle[0] == angle[1] or angle[0] == angle[2] or angle[1] == angle[2]:
      print('Isosceles')
    else :
      print('Scalene')
else:
  print('Error')

60
70
50
Scalene

In [ ]:
# 나와 다른 풀이
A = int(input())
B = int(input())
C = int(input())

if A == B == C == 60 :
  print('Equilateral')
elif A+B+C == 180:
  if A == B or A == C or B == C:
    print('Isosceles')
  else:
    print('Scalene')
else:
  print('Error')

60
70
50
Scalene

In [ ]:
# 삼각형과 세 변
# 변의 길이를 보고 삼각형을 판별하고 분류하는 문제

while 1:
  a,b,c = map(int, input().split())
  length = []
  length.append(a)
  length.append(b)
  length.append(c)
  if max(length) < sum(length)-max(length):
    if a==b==c:
     print('Equilateral')
    elif a==b or a == c or b==c:
     print('Isosceles')
    else:
      print('Scalene')
  else:
    print('Invalid')
  if a==b==c==0:
    break

0 0 0
Invalid

In [ ]:
while 1:
  a,b,c = map(int, input().split())
  length = []
  length.append(a)
  length.append(b)
  length.append(c)
  if a==b==c==0:
    break
  elif  max(length) < sum(length)-max(length):
    if a==b==c:
     print('Equilateral')
    elif a==b or a == c or b==c:
     print('Isosceles')
    else:
      print('Scalene')
  else:
    print('Invalid')

7 7 7
Equilateral
6 5 4
Scalene
3 2 5
Invalid
6 2 6
Isosceles
0 0 0

In [ ]:
# 세 막대
# 가능한 한 둘레가 긴 삼각형을 만드는 문제

circle= list(map(int, input().split()))
circle = sorted(circle)

if circle[0]+circle[1] > circle[2]:
  print(sum(circle))
else:
  print(circle[0] + circle[1]+(circle[0]+circle[1]-1))

In [ ]:
# 시간 복잡도
'''프로그램의 정확한 실행 시간을 예측하기는 매우 어렵습니다.
하지만 시간 복잡도를 사용하여 대략적인 예측은 가능합니다.'''

In [ ]:
# 알고리즘 수업- 알고리즘의 수행 1
# 프로그램의 수행 시간을 분석해 봅시다.

https://kevinitcoding.tistory.com/entry/%EB%B0%B1%EC%A4%80Python-24262%EB%B2%88-%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98-%EC%88%98%EC%97%85-%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98%EC%9D%98-%EC%88%98%ED%96%89-%EC%8B%9C%EA%B0%84-1-%EB%AC%B8%EC%A0%9C

SyntaxError: invalid character '⌊' (U+230A) (<ipython-input-26-f0335a56ad29>, line 5)